@import 'colors.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    margin-top: 10vw;
    margin-bottom: 10vw;
    
    .menu__title {
        font-size: 20px;
        color: $cinza-claro;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
    }

    .menu__label {
        display: block;
        font-size: 14px;
        color: $cinza-claro;
        text-align: center;
    }

    .menu__input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        font-size: 12px;
        text-align: center;
        width: 50%;

        &:focus {
            outline: none;
        }
        
    }

    .menu__select {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vh;
        font-size: 12px;
        text-align: center;
        width: 50%;
        padding-right: 40px;

        &:focus {
            outline: none;
        }
    }

    .menu__option {
        text-align: center;
        font-size: 14px;
    }

    .menu__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6vh;
        margin-bottom: 2vh;
        color: $preto;
        background: $laranja;
        border: none;
        clip-path: polygon(9% 1%, 100% 0, 91% 99%, 0% 100%);
        padding: 10px;
        width: 50%;

        &:hover {
            background-color: $cinza-claro;
        }

        &:focus {
            outline: none;
            border: none;
        }
    }

    .menu__link {
        display: block;
        margin-top: 6vh;
        text-align: center;
        color: $cinza-claro;
        font-size: 14px;

        &:hover {
            text-decoration: none;
            color: $laranja;
        }
    }
}


@media only screen and (max-width: 767px) {

    .menu {
        margin-top: 50vw;

        .menu__row {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom: 2vh;

            .menu__row__col {
                &:hover {
                    background-color: $laranja;
                }
            }
        }
    }

    .menu__link {
        &:hover {
            color: $cinza-claro;
        }
    }

}