@import 'colors.scss';
@import 'menu_mobile.scss';
@import 'menu_aluno.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.avaliacoes {
    margin-top: 5vw;
    margin-bottom: 10vw;

    .avaliacoes__title {
        font-size: 30px;
        color: $laranja;
        margin-bottom: 2vw;
        text-align: center;
        font-weight: 800;
    }

    .avaliacoes__pontos {
        font-size: 16px;
        color: $preto;
        font-weight: 800;
        padding: 1vw;
        background-color: $cinza-claro;
        margin-bottom: 2vw;
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        text-align: center;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    }

    .avaliacoes__avaliacao {
        margin-top: 4vw;
        padding: 2vw;
        border: 2px solid $laranja;

        .avaliacoes__avaliacao__title {
            font-size: 18px;
            color: $cinza-claro;
            margin-bottom: 2vw;
            text-align: center;
            font-weight: 700;
        }

        .avaliacoes__avaliacao__info {
            font-size: 14px;
            color: $cinza-claro;
            font-weight: 400;
            margin-bottom: 1vw;
        }

        .avaliacoes__avaliacao__button {
            display: block;
            font-size: 14px;
            font-weight: 600;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2vw;
            color: $laranja;
            text-align: center;
            width: 50%;
            border: 2px solid $laranja;
            padding: 10px;

            &:hover {
                text-decoration: none;
                color: $cinza-claro;
                border: 2px solid $cinza-claro;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.laranja_bold {
    color: $laranja;
    font-weight: 700;
}


@media only screen and (max-width: 767px) {



    

}