@import 'colors.scss';
@import 'menu_mobile.scss';
@import 'menu_aluno.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aluno {
    margin-top: 5vw;

    .aluno__title {
        font-size: 20px;
        font-weight: 800;
        color: $laranja;
        text-align: center;
    }

    .aluno__semestre {
        margin-top: 4vw;
        margin-bottom: 4vw;
        padding: 3vw;
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        background-color: $laranja;

        .aluno__semestre__info {
            font-size: 14px;
            color: $preto;
            font-weight: 500;
            margin-bottom: 1vw;
        }
    }

    .aluno__professor {
        padding: 3vw;
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
        background-color: $cinza-claro;

        .aluno__professor__info {
            font-size: 14px;
            color: $preto;
            font-weight: 500;
            margin-bottom: 1vw;
        }
    }
}



@media only screen and (max-width: 767px) {



    .aluno {
        margin-top: 20vw;
        margin-bottom: 20vw;
        padding-left: 10vw;
        padding-right: 10vw;

        .aluno__title {
            margin-bottom: 10vw;
        }

        .aluno__semestre {
            padding: 8vw;
            margin-bottom: 8vw;

            .aluno__semestre__info {
                margin-bottom: 4vw;
                line-height: 2;
            }
        }

        .aluno__professor {
            padding: 8vw;

            .aluno__professor__info {
                margin-bottom: 4vw;
                line-height: 2;
            }
        }
    }

    

}