@import 'colors.scss';
@import 'menu_mobile.scss';
@import 'menu_aluno.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.avaliacao {
    margin-top: 5vw;
    margin-bottom: 10vw;

    .avaliacao__title {
        margin-bottom: 1vw;
        font-size: 30px;
        color: $laranja;
        text-align: center;
        font-weight: 800;
    }

    .avaliacao__subtitle {
        margin-bottom: 2vw;
        font-size: 16px;
        color: $cinza-claro;
        text-align: center;
        font-style: italic;
        font-weight: 400;
    }

    .avaliacao__link {
        display: block;
        margin-bottom: 4vw;
        font-size: 16px;
        color: $laranja;
        text-align: center;
        font-weight: 400;

        &:hover {
            color: $branco;
            text-decoration: none;
        }
    }


}

.form {
    .form__label {
        display: block;
        font-size: 16px;
        text-align: center;
        color: $laranja;
        margin-top: 4vh;
        margin-bottom: 2vh;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form__input {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40%;
        text-align: center;
        color: $branco;
    }

    .form__button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        font-weight: 800;
        padding: 10px;
        margin-top: 8vh;
        background-color: $laranja;
        border: none;

        &:hover {
            background-color: $cinza-claro;
        }
    }
}

.laranja_bold {
    color: $laranja;
    font-weight: 700;
}

#avaliacao {
    display: none;
}


@media only screen and (max-width: 767px) {

    body {
        overflow-x: hidden;
    }


    .avaliacao {
        margin-top: 20vw;
        margin-bottom: 40vw;

        .avaliacao__title{
            margin-bottom: 5vw;
        }

        .avaliacao__subtitle {
            margin-bottom: 10vw;
        }
    }

}