@import 'colors.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-image: url('/images/fundo.png');
}

h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 40vh;
    color: $cinza-claro;
}

a {
    display: block;
    font-size: 20px;
    text-align: center;
    color: $laranja;
    margin-top: 4vh;

    &:hover {
        text-decoration: none;
        color: $cinza-claro;
    }
}