@import 'colors.scss';
@import 'card.scss';
@import 'animations.scss';



body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: $laranja;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 8vh;
    clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
    
    .navbar__col {
        height: 180px;

        &:first-of-type {
            clip-path: polygon(0 0, 80% 0%, 86% 100%, 0% 100%);
            background-color: $cinza-claro;
        }
    }

    .navbar__logo {
        display: block;
        width: 180px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }

    .navbar__link {
        display: block;
        position: relative;
        font-size: 20px;
        font-weight: 700;
        color: $preto;
        text-align: center;
        top: 30%;

        &:hover {
            text-decoration: none;
            color: $cinza-claro;
        }
    }
    
}

.dropdown {
    display: block;
    position: relative;
    top: 30%;

    #dropdownMenuButton {
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
    
    .dropdown-toggle {
        color: $preto;
        padding-top:0;
    }
    
    
    .dropdown-menu {
        background: none;
        padding: 0;
        margin-top: 0;
        border: 0;
        min-width: 60px;
    }
    
    .dropdown-item {
        padding-left: 14px;
        padding-top: 0;
        padding-bottom: 8px;
    }
    
    .dropdown-item:hover {
        background: none;
        outline: none;
        transform: none;
    }
}

.quemsomos {

    overflow-x: hidden; 
    overflow-y: hidden;
    margin-bottom: 10vh;
    padding-left: 4vw;
    padding-right: 4vw;

    .quemsomos__col {

        overflow-x: hidden; 
        overflow-y: hidden;

        &:first-of-type {
            clip-path: polygon(14% 17%, 95% 8%, 86% 84%, 4% 92%);
            background-color: $laranja;
        }

    }

    .quemsomos__content {
        position: relative;
        top: 30%;
        left: 8%;
        padding: 20px;

        .quemsomos__content__title {
            text-align: center;
            color: $cinza-claro;
            font-size: 42px;
            font-weight: 900;
            margin-bottom: 0;
        }

        .quemsomos__content__subtitle {
            text-align: center;
            color: $preto;
            font-size: 22px;
            font-weight: 400;
        }
    }

    .quemsomos__icon {
        position: relative;
        top: 3%;
        right: 12%;
        display: block;
        font-size: 60px;
        color: $cinza-claro;
        text-align: center;
    }

    .quemsomos__text {
        text-align: justify;
        font-size: 14px;
        color: $cinza-claro;
        line-height: 2;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 70px;
        padding-bottom: 60px;
        margin-bottom: 0;
    }
}

.equipe {

    overflow-x: hidden; 
    overflow-y: hidden;
    margin-bottom: 10vh;
    padding-left: 4vw;
    padding-right: 4vw;

    .equipe__col {

        overflow-x: hidden; 
        overflow-y: hidden;

        &:last-of-type {
            clip-path: polygon(19% 19%, 89% 9%, 94% 70%, 22% 86%);
            background: $cinza-claro;
        }
    }

    .equipe__video {
        padding: 40px;
    }

    .equipe__content {
        position: relative;
        top: 30%;
        left: 10%;
        padding: 20px;
        height: 300px;

        .equipe__content__title {
            text-align: center;
            color: $preto;
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 0;
        }

        .equipe__content__subtitle {
            text-align: center;
            color: $laranja;
            font-size: 32px;
            font-weight: 700;
            font-style: italic;
        }
    }

    .equipe__icon {
        position: relative;
        top: -24%;
        right: 10%;
        display: block;
        font-size: 60px;
        color: $laranja;
        text-align: center;
    }

    .equipe__menu {
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 12vh;

        .equipe__menu__option {
            color: $cinza-claro;
            font-size: 14px;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                color: $laranja;
            }
        }

        .equipe__active {
            background-color: $laranja;
            color: $preto;
            clip-path: polygon(0 0, 96% 1%, 100% 100%, 3% 100%);

            &:hover {
                color: $preto;
            }
        }
    }

    .equipe__members {
        margin-top: 8vh;

        .equipe__members__member {

            height: 350px;

            .equipe__members__member__text {
                font-size: 14px;
                font-weight: 400;
                text-align: justify;
                color: $cinza-claro;
                padding-left: 4vw;
                padding-right: 4vw;
            }
        }
    }

}

#t-daniel, #t-jean, #t-kenner {
    display: none;
}

.categorias {
    margin-bottom: 10vh;
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-left: 4vw;
    padding-right: 4vw;
}

.metodo {
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: $cinza-claro;
    clip-path: polygon(14% 0, 91% 5%, 87% 100%, 7% 95%);

    .metodo__title {
        text-align: center;
        color: $laranja;
        font-size: 30px;
        font-weight: 700;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }

    .metodo__title__thin {
        font-weight: 500;
    }

    .metodo__icon {
        color: $laranja;
        font-size: 40px;
        vertical-align: middle;
    }

    .metodo__text {
        font-size: 14px;
        color: $preto;
        padding-left: 8vw;
        padding-right: 8vw;
        text-align: justify;
        line-height: 2;
        margin-bottom: 12vh;
    }
}

.visao {
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: $laranja;
    clip-path: polygon(14% 5%, 92% 0, 87% 95%, 7% 100%);

    .visao__title {
        text-align: center;
        color: $cinza-claro;
        font-size: 30px;
        font-weight: 700;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }

    .visao__title__thin {
        font-weight: 500;
    }

    .visao__icon {
        margin-top: 10px;
        color: $cinza-claro;
        font-size: 40px;
        vertical-align: middle;
    }

    .visao__text {
        font-size: 14px;
        color: $preto;
        padding-left: 8vw;
        padding-right: 8vw;
        text-align: justify;
        margin-bottom: 12vh;
        line-height: 2;
    }

}

.missao {
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: $laranja;
    clip-path: polygon(7% 0, 87% 5%, 91% 100%, 14% 95%);

    .missao__title {
        text-align: center;
        color: $cinza-claro;
        font-size: 30px;
        font-weight: 700;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }

    .missao__title__thin {
        font-weight: 500;
    }

    .missao__icon {
        margin-top: 10px;
        color: $cinza-claro;
        font-size: 40px;
        vertical-align: middle;
    }

    .missao__text {
        font-size: 14px;
        color: $preto;
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: justify;
        margin-bottom: 12vh;
        line-height: 2;
    }

}

.valores {
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: $cinza-claro;
    clip-path: polygon(7% 5%, 87% 0, 92% 95%, 14% 100%);

    .valores__title {
        text-align: center;
        color: $laranja;
        font-size: 30px;
        font-weight: 700;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }

    .valores__title__thin {
        font-weight: 500;
    }

    .valores__icon {
        color: $laranja;
        font-size: 40px;
        vertical-align: middle;
    }

    .valores__text {
        font-size: 14px;
        color: $preto;
        padding-left: 8vw;
        padding-right: 8vw;
        text-align: center;
        line-height: 2;
        margin-bottom: 12vh;
    }
}


.depoimentos {

    padding-top: 12vh;
    padding-bottom: 12vh;
    overflow-x: hidden; 
    overflow-y: hidden;

    .depoimentos__content {
        margin-top: 4vh;
        margin-bottom: 8vh;
        margin-left: 30vw;
        margin-right: 30vw;
        background: $laranja;
        clip-path: polygon(14% 12%, 96% 0, 91% 84%, 5% 93%);
    
        .depoimentos__content__title {
            font-size: 40px;
            font-weight: 700;
            color: $cinza-claro;
            text-align: center;
            padding: 40px;
            font-style: italic;
        }

        .depoimentos__content__icon {
            font-size: 40px;
            color: $cinza-claro;
            vertical-align: middle;
        }
    }
    
    .depoimentos__content__row {

        margin-left: 20vw;
        margin-right: 20vw;
        margin-bottom: 4vh;
    
    
        .depoimentos__content__row__aluno {
            position: relative;
            top: 20%;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: $preto;
        }
        
        .depoimentos__content__row__button {
            display: block;
            position: relative;
            top: 30%;
            font-size: 40px;
            color: $laranja;
            text-align: center;
    
            &:hover {
                color: $preto;
            }
    
        }
    
        &:last-of-type {
            margin-bottom: 4vh;
        }
    
    }
}


@media only screen and (max-width: 767px) {

    .navbar {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);

        .navbar__col {

            height: 120px;

            &:first-of-type {
                clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
                height: 190px;
            }
        }

        .navbar__logo {
            margin-top: 5vw;
        }

        .navbar__link {
            margin-bottom: 4vw;
            font-size: 18px;
            text-align: center;
        }
    }


    .quemsomos {

        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    
        .quemsomos__col {
    
    
            &:first-of-type {
                clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
                background: none;
            }
    
        }
    
        .quemsomos__content {
            position: relative;
            top: 26%;
            left: 8%;
            padding: 0;

    
            .quemsomos__content__subtitle {
                color: $laranja;

            }
        }
    
        .quemsomos__icon {
            top: -20%;
            right: 25%;
            font-size: 60px;
            color: $laranja;
        }
    
        .quemsomos__text {
            font-size: 14px;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 0;
            padding-bottom: 60px;

        }
    }

    .equipe {

        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30vw;
    
        .equipe__col {
    
            &:last-of-type {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                background: none;
            }
        }
    
        .equipe__video {
            padding: 0;
        }
    
        .equipe__content {
            position: relative;
            top: 30%;
            left: 10%;
            padding: 20px;
            height: unset;

            .equipe__content__title {
                color: $cinza-claro;
            }
        }
    
        .equipe__icon {
            top: -18%;
            right: 25%;
        }

        .equipe__menu {
            padding-top: 0;
            padding-left: 40px;
            padding-right: 40px;

            .equipe__menu__option {
                font-size: 10px;
            }
        }

        .equipe__members {
            .equipe__members__member {
                height: unset;

                .equipe__members__member__text {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    
    }

    .categorias {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    .metodo {
        padding-left: 0;
        padding-right: 0;
        background-color: $cinza-claro;
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
    
        .metodo__title {
            text-align: center;
            color: $laranja;
            font-size: 30px;
            font-weight: 700;
            margin-top: 16vh;
            margin-bottom: 4vh;
        }
    
    
        .metodo__text {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 16vh;
        }
    }
    
    .visao {
        padding-left: 0;
        padding-right: 0;
        background-color: $laranja;
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);

        .visao__title {
            margin-top: 16vh;
        }
    
        .visao__text {
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 16vh;
        }
    }

    .valores {
        padding-left: 0;
        padding-right: 0;
        background-color: $cinza-claro;
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
    
        .valores__title {
            text-align: center;
            color: $laranja;
            font-size: 30px;
            font-weight: 700;
            margin-top: 16vh;
            margin-bottom: 4vh;
        }
    
    
        .valores__text {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 16vh;
        }
    }

    .missao {
        padding-left: 0;
        padding-right: 0;
        background-color: $laranja;
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);

        .missao__title {
            margin-top: 16vh;
        }
    
        .missao__text {
            padding-left: 40px;
            padding-right: 40px;
            margin-bottom: 16vh;
        }
    }

    .depoimentos {

        .depoimentos__content {
            clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-top: 0;
            background: none;

            .depoimentos__content__title {
                font-size: 34px;
                color: $laranja;
                padding-left: 0;
                padding-right: 0;
            }

            .depoimentos__content__icon {
                font-size: 34px;
                color: $laranja;
            }
        }

        .depoimentos__content__row {
            margin-left: 6vw;
            margin-right: 6vw;
            margin-bottom: 0;
        }

        .scene {
            margin-bottom: 4vh;
        }
    }

}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {


}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {

    .quemsomos {
        padding-left: 2vw;
        padding-right: 2vw;

    }

    .equipe {
        padding-left: 2vw;
        padding-right: 2vw;  


    }

    .categorias {
        padding-left: 2vw;
        padding-right: 2vw;
    }

}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {

    .quemsomos {
        .quemsomos__icon {
            top: 1%;
        }
    }

    .equipe {
        .equipe__icon {
            top: -19%;
        }
    }

}

@media only screen and (min-width: 1600px) and (max-width: 1699px) {

    .quemsomos {
        padding-left: 6vw;
        padding-right: 6vw;

        .quemsomos__icon {
            top: 0%;
        }
    }

    .equipe {
        padding-left: 6vw;
        padding-right: 6vw;  

        .equipe__icon {
            top: -19%;
        }
    }

    .categorias {
        padding-left: 6vw;
        padding-right: 6vw;
    }

}

@media only screen and (min-width: 1700px) {

    .quemsomos {
        padding-left: 10vw;
        padding-right: 10vw;

        .quemsomos__icon {
            top: -3%;
        }
    }

    .equipe {
        padding-left: 10vw;
        padding-right: 10vw;  

        .equipe__icon {
            top: -16%;
        }
    }

    .categorias {
        padding-left: 10vw;
        padding-right: 10vw;
    }

}