@import 'colors.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    margin-top: 10vw;
    margin-bottom: 10vw;

    .menu__title {
        font-size: 30px;
        color: $cinza-claro;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2vw;
    }

    .menu__subtitle {
        font-size: 16px;
        color: $laranja;
        font-weight: 600;
        margin-bottom: 4vw;
        text-align: center;
    }

    .menu__link {
        display: block;
        margin-top: 6vh;
        text-align: center;
        color: $cinza-claro;
        font-size: 14px;

        &:hover {
            text-decoration: none;
            color: $laranja;
        }
    }

    .menu__adicionar {
        display: block;
        font-size: 12px;
        background-color: $laranja;
        padding: 10px;
        color: $preto;
        font-weight: 700;
        margin-bottom: 4vh;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &:hover {
            background-color: $cinza-claro;
            text-decoration: none;
        }
    }


}

.avaliacoes {

    .avaliacoes__avaliacao {
        margin-top: 4vw;
        border: 2px solid $laranja;
        padding: 40px;

        .avaliacoes__avaliacao__title {
            font-size: 20px;
            color: $laranja;
            text-align: center;
            font-weight: 700;
            margin-bottom: 2vw;
        }

        .avaliacoes__avaliacao__info {
            font-size: 14px;
            color: $cinza-claro;
            font-weight: 500;
            margin-bottom: 1vw;
        }

        .avaliacoes__avaliacao__button {
            display: block;
            border: 2px solid $laranja;
            background: none;
            padding: 10px;
            color: $laranja;
            text-align: center;
            font-weight: 600;
            margin-top: 2vw;
            margin-bottom: 2vw;
            margin-left: auto;
            margin-right: auto;
            width: 30%;

            &:hover {
                text-decoration: none;
                color: $cinza-claro;
                border: 2px solid $cinza-claro;
            }
        }

        .avaliacoes__avaliacao__button--gabarito {
            display: block;
            border: 2px solid $laranja;
            background: none;
            padding: 10px;
            color: $laranja;
            text-align: center;
            font-weight: 600;
            margin-top: 2vw;
            margin-bottom: 2vw;
            margin-left: auto;
            margin-right: auto;
            width: 30%;

            &:hover {
                text-decoration: none;
                color: $cinza-claro;
                border: 2px solid $cinza-claro;
            }
        }

        .avaliacoes__avaliacao__notas {
            margin-top: 4vw;
            margin-bottom: 4vw;
            padding: 20px;
            border: 2px solid $laranja;
            margin-left: 2vw;
            margin-right: 2vw;

            .avaliacoes__avaliacao__notas__title {
                font-size: 18px;
                font-weight: 800;
                color: $laranja;
                margin-bottom: 2vw;
                text-align: center;
            }

            .avaliacoes__avaliacao__notas__lista {
                padding-left: 0;
                list-style: none;

                .avaliacoes__avaliacao__notas__lista__aluno {
                    font-size: 14px;
                    color: $cinza-claro;
                    font-weight: 400;
                    margin-bottom: 1vw;
                }

            }

        }

    }

}

#form, #form_gabarito {
    display: none;
}

.laranja {
    color: $laranja;
}

.aluno {
    display: inline-block;
    width: 60%;
}

.nota {
    color: $laranja;
    font-weight: 800;
    margin-left: 1vw;
}

@media only screen and (max-width: 767px) {

    .menu {
        margin-top: 20vw;

        .menu__row {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom: 2vh;

            .menu__row__col {
                &:hover {
                    background-color: $laranja;
                }
            }
        }

        .menu__title {
            margin-bottom: 5vw;
        }

        .menu__subtitle {
            margin-bottom: 10vw;
        }

        .menu__adicionar {
            width: 70%;
        }
    }

    .menu__link {
        &:hover {
            color: $cinza-claro;
        }
    }

    .avaliacoes {

        .avaliacoes__avaliacao {
            padding: 20px;
            margin-bottom: 10vw;

            .avaliacoes__avaliacao__notas {
                margin-top: 10vw;
                margin-bottom: 10vw;
            }

            .avaliacoes__avaliacao__title {
                margin-bottom: 10vw;
            }

            .avaliacoes__avaliacao__button {
                margin-top: 10vw;
                width: 60%;
            }
        }


    }

    .aluno {
        font-size: 11px;
    }

    .presença {
        font-size: 11px;
    }

}