@import 'colors.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    margin-top: 10vw;
    margin-bottom: 10vw;

    .menu__title {
        font-size: 30px;
        color: $cinza-claro;
        font-weight: 700;
        text-align: center;
        margin-bottom: 2vw;
    }

    .menu__subtitle {
        font-size: 16px;
        color: $laranja;
        font-weight: 600;
        margin-bottom: 2vw;
        text-align: center;
    }

    .menu__link {
        display: block;
        text-align: center;
        font-size: 16px;
        color: $branco;
        margin-bottom: 4vw;

        &:hover {
            color: $laranja;
            text-decoration: none;
        }
    }
}

.voltar {
    display: block;
    margin-top: 6vh;
    text-align: center;
    color: $cinza-claro;
    font-size: 14px;

    &:hover {
        text-decoration: none;
        color: $laranja;
    }
}


.aluno {
    padding: 40px;
    border: 2px solid $cinza-claro;
    margin-top: 4vw;

    .aluno__icon {
        margin-left: 10px;
        color: $cinza-claro;
        cursor: pointer;
        font-size: 16px;
    }

    .aluno__icon--delete {
        margin-left: 20px;
        color: $cinza-claro;
        cursor: pointer;
        font-size: 16px;
    }

    .aluno__nome {
        font-size: 22px;
        color: $laranja;
        text-align: center;
        font-weight: 700;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .aluno__nota {
        display: block;
        margin-top: 1vw;
        margin-bottom: 2vw;
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        .aluno__nota__label {
            display: block;
            font-size: 14px;
            color: $cinza-claro;
            font-weight: 500;
            text-align: center;
        }
    
        .aluno__nota__input {
            display: block;
            text-align: center;
            width: 25%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2vw;
        }

        .aluno__nota__link {
            display: block;
            margin-left: auto;
            margin-right: auto;
            font-size: 14px;
            color: $laranja;
            font-weight: 700;

            &:hover {
                color: $branco;
                text-decoration: none;
            }
        }

    }
}



.laranja {
    color: $laranja;
}

#form, #form__delete {
    display: none;
}

@media only screen and (max-width: 767px) {

    .menu {
        margin-top: 20vw;

        .menu__row {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom: 2vh;

            .menu__row__col {
                &:hover {
                    background-color: $laranja;
                }
            }
        }

        .menu__title {
            margin-bottom: 5vw;
        }

        .menu__subtitle {
            margin-bottom: 10vw;
        }

        .menu__adicionar {
            width: 70%;
        }
    }

    .menu__link {
        &:hover {
            color: $cinza-claro;
        }
    }

    .perguntas {
        margin-top: 20vw;
        margin-bottom: 20vw;
        padding: 20px;
    }

    .resposta {
        padding-top: 5vw;
        padding-bottom: 5vw;
    }

    .aluno {
        padding: 20px;

        .aluno__nota {
            margin-top: 5vw;
            margin-bottom: 5vw;
        }
    }


}