@import 'colors.scss';

body {
    font-family: 'work-sans', sans-serif;
    background-color: $preto;
    background-image: url('/images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    margin-top: 10vw;
    margin-bottom: 10vw;

    .menu__title {
        font-size: 20px;
        color: $cinza-claro;
        font-weight: 700;
        text-align: center;
        margin-bottom: 40px;
    }

    .menu__link {
        display: block;
        margin-top: 6vh;
        text-align: center;
        color: $cinza-claro;
        font-size: 14px;

        &:hover {
            text-decoration: none;
            color: $laranja;
        }
    }

    .menu__adicionar {
        display: block;
        font-size: 12px;
        background-color: $laranja;
        padding: 10px;
        color: $preto;
        font-weight: 700;
        margin-bottom: 4vh;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        &:hover {
            background-color: $cinza-claro;
            text-decoration: none;
        }
    }


}

.aulas {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 4vw;

    .aulas__aula {
        
        border: 2px solid $laranja;
        padding: 40px;
        margin-bottom: 4vw;

        .aulas__aula__title {
            font-size: 20px;
            color: $laranja;
            font-weight: 700;
            text-align: center;
            margin-bottom: 4vw;

        }

        .aulas__aula__info {
            font-size: 14px;
            color: $cinza-claro;
            font-weight: 400;

        }

        .aulas__aula__textarea {
            font-size: 11px;
        }

        .aulas__aula__icon {
            margin-left: 10px;
            color: $cinza-claro;
            cursor: pointer;
            font-size: 16px;
        }

        .aulas__aula__link {
            display: block;
            font-size: 14px;
            font-weight: 600;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2vw;
            color: $laranja;
            text-align: center;
            width: 50%;
            border: 2px solid $laranja;
            padding: 10px;

            &:hover {
                text-decoration: none;
                color: $cinza-claro;
                border: 2px solid $cinza-claro;
            }
        }

        .aulas__aula__chamada {

            margin-top: 4vw;
            margin-bottom: 2vw;
            padding: 20px;
            border: 2px solid $laranja;
            margin-left: 2vw;
            margin-right: 2vw;

            .aulas__aula__chamada__title {
                font-size: 18px;
                font-weight: 800;
                color: $laranja;
                margin-bottom: 2vw;
                text-align: center;
            }

            .aulas__aula__chamada__lista {
                padding-left: 0;
                list-style: none;

                .aulas__aula__chamada__lista__aluno {
                    font-size: 14px;
                    color: $cinza-claro;
                    font-weight: 400;
                    margin-bottom: 1vw;
                }

            }

        }


    }

}

.aluno {
    display: inline-block;
    width: 20vw;
}

.presença {
    margin-left: 20px;
    font-size: 12px;
    color: $laranja;
}

#form {
    display: none;
}


@media only screen and (max-width: 767px) {

    .menu {
        .menu__row {
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom: 2vh;

            .menu__row__col {
                &:hover {
                    background-color: $laranja;
                }
            }
        }
    }

    .menu__link {
        &:hover {
            color: $cinza-claro;
        }
    }

    .aulas {
        .aulas__aula {
            margin-bottom: 10vw;

            .aulas__aula__title {
                margin-bottom: 10vw;
            }

            .aulas__aula__textarea {
                width: 100%;
            }

            .aulas__aula__chamada {
                margin-top: 10vw;

                .aulas__aula__chamada__title {
                    margin-bottom: 5vw;
                }
            }

            .aulas__aula__link {
                width: 70%;
                margin-top: 10vw;
            }
        }
    }

}