<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="stylesheet" href="https://use.typekit.net/gvd0wuw.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Result - English in the family | Register</title>
</head>
<body>

    <div class="navbar row">
        <div class="col-md-6 navbar__col" id="logo">
            <a href="/"><img class="navbar__logo" src="/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-2 navbar__col" id="cadastro">
            <a href="/cadastro" class="navbar__link active">REGISTER</a>
        </div>
        <div class="col-md-2 navbar__col" id="login">
            <a href="/login" class="navbar__link">LOGIN</a>
        </div>

        <div class="col-3 col-md-0" id="space"></div>

        <div class="col-3 navbar__col" id="mobile">

            <nav>
                <input type="checkbox" id="hamburger1" />
                <label class="label" for="hamburger1"></label>
            </nav>

        </div>
        <div class="col-md-2 col-6 navbar__col">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/images/en.png" alt="">
                </button>
                <div class="dropdown-menu order-1" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/cadastro/pt"><img src="/images/pt.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="mobile__menu">
        <a class="mobile__menu__link" href="/cadastro">REGISTER</a>
        <a class="mobile__menu__link" href="/login">LOGIN</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">

                <div class="menu" role="menu">
                    <form id="form" action="/cadastro" method="post">

                        <h3 class="menu__msg">{{passdontmatch}}{{userexists}}{{whitespace}}{{invalidcode}}</h3>

                        <label class="menu__label" for="name"><b>Full name</b></label>
                        <input class="menu__input" type="text" placeholder="Insert name" name="name" id="name" aria-required="true" required>

                        <label class="menu__label" for="email"><b>Email</b></label>
                        <input class="menu__input" type="email" placeholder="Insert your name" name="email" id="email" aria-required="true" required>

                        <label class="menu__label" for="tel"><b>Telephone</b></label>
                        <input class="menu__input" type="tel" placeholder="Insert your telephone" name="tel" id="tel" aria-required="true" required>

                        <label class="menu__label" for="s"><b>Birthday</b></label>
                        <input class="menu__input" type="date" placeholder="Insert your birthday" name="birthday" id="birthday" aria-required="true" required>

                        <label class="menu__label" for="code"><b>Register code</b></label>
                        <input class="menu__input" type="text" placeholder="Insert code" name="code" id="code" aria-required="true" required>

                        <label class="menu__label" for="password"><b>Password</b></label>
                        <input class="menu__input" type="password" placeholder="Insert password" name="password" id="password" minlength="8" aria-required="true" required>

                        <label class="menu__label" for="repeatpassword"><b>Repeat password</b></label>
                        <input class="menu__input" type="password" placeholder="Repeat password" name="repeatpassword" id="repeatpassword" aria-required="true" required>


                        <button role="button" class="menu__button" type="submit">Register</button>

                    </form>
                </div>

            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/menu_mobile.js"></script>
    <script src="/scripts/submitForm.js"></script>

</body>
</html>