<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="stylesheet" href="https://use.typekit.net/gvd0wuw.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Result - English in the family</title>
</head>
<body>


    <div class="row navbar">
        <div class="col-md-4">
            <div class="navbar__col" id="logo">
                <img class="navbar__logo" src="/images/logo.jpg" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar__col" id="cadastro">
                <a href="/cadastro" class="navbar__link">CADASTRO</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar__col" id="login">
                <a href="/login" class="navbar__link">LOGIN</a>
            </div>
        </div>

    </div>

    <div class="row menu">
        <div class="col-md-4">
            <div class="quemsomos">
                <h1 class="quemsomos__title">QUEM SOMOS</h1>
                <p class="quemsomos__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aenean blandit vitae velit pharetra vestibulum. Aliquam in lectus ipsum. Vivamus justo tellus, blandit in iaculis nec, 
                    mollis eget velit. Morbi porttitor ut dui pulvinar auctor. Morbi imperdiet ante justo, nec commodo nibh tincidunt a. 
                    Duis at felis in urna viverra aliquet id at quam. Phasellus a ullamcorper massa.
                </p>
            </div>

            <div class="metodo">
                <h1 class="metodo__title">NOSSO MÉTODO</h1>
                <p class="metodo__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit vitae velit pharetra vestibulum. Aliquam in lectus ipsum. Vivamus justo tellus, blandit in iaculis nec, mollis eget velit. Morbi porttitor ut dui pulvinar auctor. Morbi imperdiet ante justo, nec commodo nibh tincidunt a. Duis at felis in urna viverra aliquet id at quam.
                </p>
            </div>

        </div>

        <div class="col-md-8">
            <div class="equipe">
                <img class="equipe__img" src="/images/equipe.png" alt="">
                <div class="equipe__video">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                    .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                    <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                </div>
            </div>

            <div class="visao">
                <h1 class="visao__title">NOSSA VISÃO</h1>
                <p class="visao__text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean blandit vitae velit pharetra vestibulum. Aliquam in lectus ipsum. Vivamus justo tellus, blandit in iaculis nec, mollis eget velit. Morbi porttitor ut dui pulvinar auctor. Morbi imperdiet ante justo, nec commodo nibh tincidunt a. Duis at felis in urna viverra aliquet id at quam. Phasellus a ullamcorper massa. Ut dictum, eros eget pharetra condimentum, ante mauris sagittis lacus, non laoreet ipsum lacus sed tellus. Sed nisl massa, eleifend ac libero lobortis, ullamcorper venenatis mi. Nulla ante leo, tempor id tincidunt nec, molestie sit amet nisl. Integer hendrerit tellus metus, quis tincidunt nibh aliquet eu. Duis vestibulum, nunc et convallis tristique, felis urna tincidunt dui, in ornare dolor erat at ligula. Nullam gravida ligula ac nibh volutpat finibus. Integer et urna viverra justo dictum rutrum ullamcorper et mauris. Morbi imperdiet ante justo, nec commodo nibh tincidunt a. Duis at felis in urna viverra aliquet id at quam. Phasellus a ullamcorper massa. Ut dictum, eros eget pharetra condimentum, ante mauris sagittis lacus, non laoreet ipsum lacus sed tellus.
                </p>
            </div>
        </div>
    </div>

    <div class="depoimentos">
        <h1 class="depoimentos__title">DEPOIMENTOS</h1>
    </div>

    <div class="row depoimentos__row">
        <div class="col-md-4 scene">
            <div class="card" id="c1" onclick="toggle(id)"> 
                <div class="card__face card__face--front">
                    <h1 class="depoimentos__row__aluno">Nome do Aluno 1</h1>
                    <i class="depoimentos__row__button flaticon-play-button"></i>
                </div>
                <div class="card__face card__face--back">
                    <div>
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 scene">
            <div class="card" id="c2" onclick="toggle(id)">
                <div class="card__face card__face--front">
                    <h1 class="depoimentos__row__aluno">Nome do Aluno 2</h1>
                    <i class="depoimentos__row__button flaticon-play-button"></i>
                </div>
                <div class="card__face card__face--back">
                    <div>
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 scene">
            <div class="card" id="c3" onclick="toggle(id)">
                <div class="card__face card__face--front">
                    <h1 class="depoimentos__row__aluno">Nome do Aluno 3</h1>
                    <i class="depoimentos__row__button flaticon-play-button"></i>
                </div>
                <div class="card__face card__face--back">
                    <div>
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

   <div class="row depoimentos__row">
        <div class="col-md-4 scene">
            <div class="card" id="c4" onclick="toggle(id)"> 
                <div class="card__face card__face--front">
                    <h1 class="depoimentos__row__aluno">Nome do Aluno 4</h1>
                    <i class="depoimentos__row__button flaticon-play-button"></i>
                </div>
                <div class="card__face card__face--back">
                    <div>
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 scene">
            <div class="card" id="c5" onclick="toggle(id)">
                <div class="card__face card__face--front">
                    <h1 class="depoimentos__row__aluno">Nome do Aluno 5</h1>
                    <i class="depoimentos__row__button flaticon-play-button"></i>
                </div>
                <div class="card__face card__face--back">
                    <div>
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 scene">
            <div class="card" id="c6" onclick="toggle(id)">
                <div class="card__face card__face--front">
                    <h1 class="depoimentos__row__aluno">Nome do Aluno 6</h1>
                    <i class="depoimentos__row__button flaticon-play-button"></i>
                </div>
                <div class="card__face card__face--back">
                    <div>
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                        .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>


    <div class="dicas">
        <h1 class="dicas__title">DICAS PARA ESTUDANTES</h1>
    </div>




    




    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/cardflip.js"></script>

</body>
</html>