<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="stylesheet" href="https://use.typekit.net/gvd0wuw.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Result - English in the family</title>

</head>
<body>


    <div class="navbar row">
        <div class="col-md-6 navbar__col" id="logo">
            <a href="/"><img class="navbar__logo" src="/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-2 col-6 navbar__col" id="cadastro">
            <a href="/cadastro" class="navbar__link">CADASTRO</a>
        </div>
        <div class="col-md-2 col-6 navbar__col" id="login">
            <a href="/login" class="navbar__link">LOGIN</a>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="quemsomos row">
        <div data-aos="fade-right" data-aos-duration="3000" class="col-md-6 quemsomos__col">
            <div class="quemsomos__content" data-aos="fade-right" data-aos-duration="3000">
                <h1 class="quemsomos__content__title">QUEM</h1>
                <h2 class="quemsomos__content__subtitle">SOMOS</h2>
            </div>

            <i class="quemsomos__icon flaticon-info" data-aos="fade-down" data-aos-duration="3000"></i>
        </div>

        <div class="col-md-6 quemsomos__col">
            <p data-aos="fade-up" data-aos-duration="3000" class="quemsomos__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="equipe row">
        <div class="col-md-6 equipe__col order-md-1 order-2">
            <div data-aos="fade-right" data-aos-duration="3000"  class="equipe__video">
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>

        <div data-aos="fade-left" data-aos-duration="3000" class="col-md-6 equipe__col order-md-2 order-1">
            <div class="equipe__content" data-aos="fade-left" data-aos-duration="3000">
                <h1 class="equipe__content__title">NOSSA</h1>
                <h2 class="equipe__content__subtitle">EQUIPE</h2>
            </div>

            <i class="equipe__icon flaticon-people" data-aos="fade-down" data-aos-duration="3000"></i>

        </div>
    </div>


    <div class="categorias row">

        <div class="col-md-6 metodo order-md-1 order-2" data-aos="fade-right" data-aos-duration="3000">
            <h1 class="metodo__title" data-aos="fade-right" data-aos-duration="3000"><i class="metodo__icon flaticon-method"></i> <span class="metodo__title__thin">NOSSO</span> MÉTODO</h1>
            <p class="metodo__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In massa tempor nec feugiat nisl. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat. Tincidunt nunc pulvinar sapien et. Facilisis mauris sit amet massa vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis. Nisl rhoncus mattis rhoncus urna neque viverra. Sit amet tellus cras adipiscing enim eu. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Mus mauris vitae ultricies leo integer. Neque volutpat ac tincidunt vitae semper quis lectus. 
            </p>
        </div>

        <div class="col-md-6 visao order-md-2 order-1" data-aos="fade-left" data-aos-duration="3000">
            <h1 class="visao__title" data-aos="fade-left" data-aos-duration="3000"><i class="visao__icon flaticon-eye"></i> <span class="visao__title__thin">NOSSA</span> VISÃO</h1>
            <p class="visao__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In massa tempor nec feugiat nisl. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat. Tincidunt nunc pulvinar sapien et. Facilisis mauris sit amet massa vitae. Aliquet bibendum enim facilisis gravida neque convallis a cras. Consectetur adipiscing elit ut aliquam purus sit amet luctus venenatis. Nisl rhoncus mattis rhoncus urna neque viverra. Sit amet tellus cras adipiscing enim eu. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Mus mauris vitae ultricies leo integer. Neque volutpat ac tincidunt vitae semper quis lectus.
            </p>
        </div>

    </div>

    <div class="depoimentos">
        <div class="depoimentos__content" data-aos="fade-up" data-aos-duration="3000">
            <h1 class="depoimentos__content__title"><i class="depoimentos__content__icon flaticon-discuss"></i> DEPOIMENTOS</h1>
        </div>

        <div class="row depoimentos__content__row">
            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c1" onclick="toggle(id)"> 
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 1</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c2" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 2</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c3" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 3</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        <div data-aos="zoom-in" data-aos-duration="3000" class="row depoimentos__content__row">
            <div class="col-md-4 scene">
                <div class="card" id="c4" onclick="toggle(id)"> 
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 4</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c5" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 5</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c6" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 6</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>


   

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>AOS.init()</script>

    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/cardflip.js"></script>


</body>
</html>