<!DOCTYPE html>
<html lang="pt-br">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/icons/font/flaticon.css">
    <link rel="stylesheet" href="https://use.typekit.net/gvd0wuw.css">
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Result - English in the family</title>

</head>
<body>


    <div class="navbar row">
        <div class="col-md-6 navbar__col" id="logo">
            <a href="/"><img class="navbar__logo" src="/images/logo.png" alt=""></a>
        </div>
        <div class="col-md-2 col-4 navbar__col" id="cadastro">
            <a href="/cadastro" class="navbar__link">REGISTER</a>
        </div>
        <div class="col-md-2 col-4 navbar__col" id="login">
            <a href="/login" class="navbar__link">LOGIN</a>
        </div>
        <div class="col-md-2 col-3 navbar__col">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="/images/en.png" alt="">
                    </button>
                    <div class="dropdown-menu order-1" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/"><img src="/images/pt.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quemsomos row">
        <div data-aos="fade-right" data-aos-duration="3000" class="col-md-6 quemsomos__col">
            <div class="quemsomos__content" data-aos="fade-right" data-aos-duration="3000">
                <h1 class="quemsomos__content__title">OUR</h1>
                <h2 class="quemsomos__content__subtitle">HISTORY</h2>
            </div>

            <i class="quemsomos__icon flaticon-info" data-aos="fade-down" data-aos-duration="3000"></i>
        </div>

        <div class="col-md-6 quemsomos__col">
            <p data-aos="fade-up" data-aos-duration="3000" class="quemsomos__text">
                Our school is the result of the life, learning and teaching experience of its members: Kenner, Arthur, Jean and Daniel. 
                We have all been immigrants, English students, speakers of English and teachers of English. In 2018, we decided to join our 
                experience and vision and open a school to help our students get the best of both worlds: The professionalism of a school with 
                the personalized approach of private teachers. 
            </p>
        </div>
    </div>

    <div class="equipe row">
        <div data-aos="fade-right" data-aos-duration="3000" class="col-md-6 equipe__col order-md-1 order-2">
            <div class="row equipe__menu">
                <div class="col-3 equipe__menu__option equipe__active" id="artur">Artur</div>
                <div class="col-3 equipe__menu__option" id="daniel">Daniel</div>
                <div class="col-3 equipe__menu__option" id="jean">Jean</div>
                <div class="col-3 equipe__menu__option" id="kenner">Kenner</div>
            </div>

            <div class="equipe__members">
                <div class="equipe__members__member" id="t-artur">
                    <p class="equipe__members__member__text">
                        I have worked as a journalist and illustrator for the past 36 years (Oh, and some good years spent as a Chef thrown in the mix…) and my professions took me to many corners of the World.  For some years now, I’ve worked with Kenner Garcia and her sons at Result and I have a TESOL Certification.
                        Throughout this time, English has been the language that enabled me to study, move around with ease and interact with many different peoples and cultures. It is my “Passport to the World” and I would like to share my experiences, stories and knowledge to help you become also a fully global citizen.
                        My focus is to lay the strongest foundation for Basic and Intermediate level students and open their eyes to the wide horizons the English language can offer.
                        See you soon!
                    </p>
                </div>

                <div class="equipe__members__member" id="t-daniel">
                    <p class="equipe__members__member__text">
                        English teacher for over 5 years; curator for intermediate level material; specialized in exam preparation; TESOL certified; administrative duties with attendance and grades. <br><br>

                        Teaching others and sharing knowledge feels like a great privilege to me. I really enjoy the exchange of life experiences that occur in classes, and I love getting to know my students.  As a teacher, my goals are to give the full support that my students need to make progress in their learning journey and to create a positive environment where they feel safe and comfortable to be themselves. Due to our past life experiences as immigrants and English learners, we are really able to understand and address the various difficulties and challenges surrounding learning a new language.  Besides teaching, I also enjoy playing and studying music, books and cultural discussions.
                    </p>
                </div>

                <div class="equipe__members__member" id="t-jean">
                    <p class="equipe__members__member__text">

                    </p>
                </div>

                <div class="equipe__members__member" id="t-kenner">
                    <p class="equipe__members__member__text">
                        English teacher for over 30 years. Currently, educational and general Coordinator of Result and material curator, specialized in Business English. <br><br>
                        I am a generally happy, upbeat person. I am a humanist, an animal lover and a bit of a spiritualist. I´m an activist in social causes. I love books and music. I'm curious and love travelling. I tend to overwork and have a chaotic calendar!
                        I love teaching because I get to contribute to other people´s growth and educational Journey. I especially love seeing students change levels in the course..
                        I was born in the US and lived abroad so I really love the idea of multiculturalism and cultural diversity.
                        I love my family and I'm proud of the work we do together.
                    </p>
                </div>



            </div>


        </div>

        <div data-aos="fade-left" data-aos-duration="3000" class="col-md-6 equipe__col order-md-2 order-1">
            <div class="equipe__content" data-aos="fade-left" data-aos-duration="3000">
                <h1 class="equipe__content__title">OUR</h1>
                <h2 class="equipe__content__subtitle">TEAM</h2>
            </div>

            <i class="equipe__icon flaticon-people" data-aos="fade-down" data-aos-duration="3000"></i>

        </div>
    </div>


    <div class="categorias row">

        <div class="col-md-6 metodo order-md-1 order-2" data-aos="fade-right" data-aos-duration="3000">
            <h1 class="metodo__title" data-aos="fade-right" data-aos-duration="3000"><i class="metodo__icon flaticon-method"></i> <span class="metodo__title__thin">OUR</span> METHOD</h1>
            <p class="metodo__text">
                We teach using communicative techniques with a strong emphasis on speaking. We mix specific material (eg.: business, preparatory etc) with general English to give our students tons of vocabulary. We also follow CEFR (Common European Framework in English) to ensure our students move up in terms of levels and have a well-rounded learning experience in English.
            </p>
        </div>

        <div class="col-md-6 visao order-md-2 order-1" data-aos="fade-left" data-aos-duration="3000">
            <h1 class="visao__title" data-aos="fade-left" data-aos-duration="3000"><i class="visao__icon flaticon-eye"></i> <span class="visao__title__thin">OUR</span> VISION</h1>
            <p class="visao__text">
                Offering the best, most individualized english classes for adult students. Guiding our students through their individual challenges in English. Continuously growing and developing our skills while helping our students grow and develop their skills.
            </p>
        </div>

    </div>

        <div class="categorias row">

        <div class="col-md-6 missao" data-aos="fade-right" data-aos-duration="3000">
            <h1 class="missao__title" data-aos="fade-right" data-aos-duration="3000"><i class="missao__icon flaticon-mission"></i> <span class="missao__title__thin">OUR</span> MISSION</h1>
            <p class="missao__text">
                We aim to make our students fluent in English.
            </p>
        </div>

        <div class="col-md-6 valores" data-aos="fade-left" data-aos-duration="3000">
            <h1 class="valores__title" data-aos="fade-left" data-aos-duration="3000"><i class="valores__icon flaticon-ethics"></i> <span class="valores__title__thin">OUR</span> VALUES</h1>
            <p class="valores__text">
                Flexibility <br>
                Mutual respect <br>
                Positive Learning environment <br>
                Supportive Goal-oriented teaching <br>

            </p>
        </div>

    </div>



    <div class="depoimentos">
        <div class="depoimentos__content" data-aos="fade-up" data-aos-duration="3000">
            <h1 class="depoimentos__content__title"><i class="depoimentos__content__icon flaticon-discuss"></i> DEPOIMENTOS</h1>
        </div>

        <div class="row depoimentos__content__row">
            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c1" onclick="toggle(id)"> 
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 1</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c2" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 2</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c3" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 3</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        <div data-aos="zoom-in" data-aos-duration="3000" class="row depoimentos__content__row">
            <div class="col-md-4 scene">
                <div class="card" id="c4" onclick="toggle(id)"> 
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 4</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c5" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 5</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-aos="zoom-in" data-aos-duration="3000" class="col-md-4 scene">
                <div class="card" id="c6" onclick="toggle(id)">
                    <div class="card__face card__face--front">
                        <h1 class="depoimentos__content__row__aluno">Nome do Aluno 6</h1>
                        <i class="depoimentos__content__row__button flaticon-play-button"></i>
                    </div>
                    <div class="card__face card__face--back">
                        <div>
                            <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
                            .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                            <div class='embed-container'><iframe src="https://www.youtube.com/embed/pVE92TNDwUk?feature=oembed&amp;playsinline=1&amp;wmode=opaque&amp;loop=1&amp;controls=1&amp;rel=0&amp;modestbranding=1" frameborder='0' allowfullscreen></iframe></div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>


   

    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>AOS.init()</script>

    <!--Bootstrap-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/scripts/cardflip.js"></script>
    <script src="/scripts/index.js"></script>


</body>
</html>