.scene {
  height: 144px;
  perspective: 600px;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border: 4px solid #f2780b;
  border-radius: 0;
  background-color: #f2780b;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background-color: #d9d7d7;
}

.card__face--back {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  .scene {
    height: 183px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  .scene {
    height: 190px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 401px) and (max-width: 767px) {
  .scene {
    height: 210px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .scene {
    height: 130px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .scene {
    height: 136px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1535px) {
  .scene {
    height: 155px;
  }
}
@media only screen and (min-width: 1536px) and (max-width: 1599px) {
  .scene {
    height: 166px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  .scene {
    height: 173px;
  }
}
@media only screen and (min-width: 1700px) {
  .scene {
    height: 210px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "work-sans", sans-serif;
  background-color: #000000;
  background-image: url("/images/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  background-color: #f2780b;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8vh;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
}
.navbar .navbar__col {
  height: 140px;
}
.navbar .navbar__col:first-of-type {
  clip-path: polygon(0 0, 80% 0%, 86% 100%, 0% 100%);
  background-color: #d9d7d7;
}
.navbar .navbar__logo {
  display: block;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.navbar .navbar__link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  top: 30%;
}
.navbar .navbar__link:hover {
  text-decoration: none;
  color: #d9d7d7;
}

.quemsomos {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 10vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
.quemsomos .quemsomos__col {
  overflow-x: hidden;
  overflow-y: hidden;
}
.quemsomos .quemsomos__col:first-of-type {
  clip-path: polygon(14% 17%, 95% 8%, 86% 84%, 4% 92%);
  background-color: #f2780b;
}
.quemsomos .quemsomos__content {
  position: relative;
  top: 30%;
  left: 8%;
  padding: 20px;
}
.quemsomos .quemsomos__content .quemsomos__content__title {
  text-align: center;
  color: #d9d7d7;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 0;
}
.quemsomos .quemsomos__content .quemsomos__content__subtitle {
  text-align: center;
  color: #000000;
  font-size: 34px;
  font-weight: 400;
}
.quemsomos .quemsomos__icon {
  position: relative;
  top: 3%;
  right: 12%;
  display: block;
  font-size: 60px;
  color: #d9d7d7;
  text-align: center;
}
.quemsomos .quemsomos__text {
  text-align: justify;
  font-size: 14px;
  color: #d9d7d7;
  line-height: 2;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 70px;
  padding-bottom: 60px;
  margin-bottom: 0;
}

.equipe {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 10vh;
  padding-left: 4vw;
  padding-right: 4vw;
}
.equipe .equipe__col {
  overflow-x: hidden;
  overflow-y: hidden;
}
.equipe .equipe__col:last-of-type {
  clip-path: polygon(19% 19%, 89% 9%, 94% 70%, 22% 86%);
  background: #d9d7d7;
}
.equipe .equipe__video {
  padding: 40px;
}
.equipe .equipe__content {
  position: relative;
  top: 30%;
  left: 10%;
  padding: 20px;
}
.equipe .equipe__content .equipe__content__title {
  text-align: center;
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}
.equipe .equipe__content .equipe__content__subtitle {
  text-align: center;
  color: #f2780b;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}
.equipe .equipe__icon {
  position: relative;
  top: 0%;
  right: 10%;
  display: block;
  font-size: 60px;
  color: #f2780b;
  text-align: center;
}

.categorias {
  margin-bottom: 10vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 4vw;
  padding-right: 4vw;
}

.metodo {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #d9d7d7;
  clip-path: polygon(14% 0, 91% 5%, 87% 100%, 7% 95%);
}
.metodo .metodo__title {
  text-align: center;
  color: #f2780b;
  font-size: 30px;
  font-weight: 700;
  margin-top: 12vh;
  margin-bottom: 4vh;
}
.metodo .metodo__title__thin {
  font-weight: 500;
}
.metodo .metodo__icon {
  color: #f2780b;
  font-size: 40px;
  vertical-align: middle;
}
.metodo .metodo__text {
  font-size: 14px;
  color: #000000;
  padding-left: 8vw;
  padding-right: 8vw;
  text-align: justify;
  line-height: 2;
  margin-bottom: 12vh;
}

.visao {
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 4vw;
  padding-right: 4vw;
  background-color: #f2780b;
  clip-path: polygon(14% 5%, 92% 0, 87% 95%, 7% 100%);
}
.visao .visao__title {
  text-align: center;
  color: #d9d7d7;
  font-size: 30px;
  font-weight: 700;
  margin-top: 12vh;
  margin-bottom: 4vh;
}
.visao .visao__title__thin {
  font-weight: 500;
}
.visao .visao__icon {
  margin-top: 10px;
  color: #d9d7d7;
  font-size: 40px;
  vertical-align: middle;
}
.visao .visao__text {
  font-size: 14px;
  color: #000000;
  padding-left: 8vw;
  padding-right: 8vw;
  text-align: justify;
  margin-bottom: 12vh;
  line-height: 2;
}

.depoimentos {
  padding-top: 12vh;
  padding-bottom: 12vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.depoimentos .depoimentos__content {
  margin-top: 4vh;
  margin-bottom: 8vh;
  margin-left: 30vw;
  margin-right: 30vw;
  background: #f2780b;
  clip-path: polygon(14% 12%, 96% 0, 91% 84%, 5% 93%);
}
.depoimentos .depoimentos__content .depoimentos__content__title {
  font-size: 40px;
  font-weight: 700;
  color: #d9d7d7;
  text-align: center;
  padding: 40px;
  font-style: italic;
}
.depoimentos .depoimentos__content .depoimentos__content__icon {
  font-size: 40px;
  color: #d9d7d7;
  vertical-align: middle;
}
.depoimentos .depoimentos__content__row {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 4vh;
}
.depoimentos .depoimentos__content__row .depoimentos__content__row__aluno {
  position: relative;
  top: 20%;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}
.depoimentos .depoimentos__content__row .depoimentos__content__row__button {
  display: block;
  position: relative;
  top: 30%;
  font-size: 40px;
  color: #f2780b;
  text-align: center;
}
.depoimentos .depoimentos__content__row .depoimentos__content__row__button:hover {
  color: #000000;
}
.depoimentos .depoimentos__content__row:last-of-type {
  margin-bottom: 4vh;
}

@media only screen and (max-width: 767px) {
  .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  }
  .navbar .navbar__col {
    height: 120px;
  }
  .navbar .navbar__col:first-of-type {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    height: 190px;
  }
  .navbar .navbar__logo {
    margin-top: 8vw;
  }
  .navbar .navbar__link {
    margin-bottom: 4vw;
  }

  .quemsomos {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .quemsomos .quemsomos__col:first-of-type {
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    background: none;
  }
  .quemsomos .quemsomos__content {
    position: relative;
    top: 26%;
    left: 8%;
    padding: 0;
  }
  .quemsomos .quemsomos__content .quemsomos__content__subtitle {
    color: #f2780b;
  }
  .quemsomos .quemsomos__icon {
    top: -20%;
    right: 25%;
    font-size: 60px;
    color: #f2780b;
  }
  .quemsomos .quemsomos__text {
    font-size: 14px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 60px;
  }

  .equipe {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30vw;
    background-color: #d9d7d7;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
  }
  .equipe .equipe__col:last-of-type {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background: none;
  }
  .equipe .equipe__video {
    padding: 0;
  }
  .equipe .equipe__content {
    position: relative;
    top: 30%;
    left: 10%;
    padding: 20px;
  }
  .equipe .equipe__icon {
    top: -18%;
    right: 25%;
  }

  .categorias {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .metodo {
    padding-left: 0;
    padding-right: 0;
    background-color: #d9d7d7;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
  }
  .metodo .metodo__title {
    text-align: center;
    color: #f2780b;
    font-size: 30px;
    font-weight: 700;
    margin-top: 16vh;
    margin-bottom: 4vh;
  }
  .metodo .metodo__text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 16vh;
  }

  .visao {
    padding-left: 0;
    padding-right: 0;
    background-color: #f2780b;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
  }
  .visao .visao__title {
    margin-top: 16vh;
  }
  .visao .visao__text {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 16vh;
  }

  .depoimentos .depoimentos__content {
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    background: none;
  }
  .depoimentos .depoimentos__content .depoimentos__content__title {
    font-size: 34px;
    color: #f2780b;
    padding-left: 0;
    padding-right: 0;
  }
  .depoimentos .depoimentos__content .depoimentos__content__icon {
    font-size: 34px;
    color: #f2780b;
  }
  .depoimentos .depoimentos__content__row {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 0;
  }
  .depoimentos .scene {
    margin-bottom: 4vh;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .quemsomos {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .equipe {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .categorias {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1599px) {
  .quemsomos .quemsomos__icon {
    top: 1%;
  }

  .equipe .equipe__icon {
    top: 3%;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  .quemsomos {
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .quemsomos .quemsomos__icon {
    top: 0%;
  }

  .equipe {
    padding-left: 6vw;
    padding-right: 6vw;
  }
  .equipe .equipe__icon {
    top: 3%;
  }

  .categorias {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
@media only screen and (min-width: 1700px) {
  .quemsomos {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .quemsomos .quemsomos__icon {
    top: -3%;
  }

  .equipe {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .equipe .equipe__icon {
    top: 6%;
  }

  .categorias {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/*# sourceMappingURL=index.css.map */
