.scene {
  height: 144px;
  perspective: 600px;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border: 4px solid #f2780b;
  border-radius: 0;
  background-color: #f2780b;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background-color: #d9d7d7;
}

.card__face--back {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 360px) and (max-width: 374px) {
  .scene {
    height: 183px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 375px) and (max-width: 400px) {
  .scene {
    height: 190px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 401px) and (max-width: 767px) {
  .scene {
    height: 210px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .scene {
    height: 130px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px) {
  .scene {
    height: 136px;
  }
}
@media only screen and (min-width: 1440px) and (max-width: 1535px) {
  .scene {
    height: 155px;
  }
}
@media only screen and (min-width: 1536px) and (max-width: 1599px) {
  .scene {
    height: 166px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1699px) {
  .scene {
    height: 173px;
  }
}
@media only screen and (min-width: 1700px) {
  .scene {
    height: 210px;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar {
  background-color: #f2780b;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8vh;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
}
.navbar .navbar__col {
  height: 180px;
}
.navbar .navbar__col:first-of-type {
  clip-path: polygon(0 0, 80% 0%, 86% 100%, 0% 100%);
  background-color: #d9d7d7;
}
.navbar .navbar__logo {
  display: block;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.navbar .navbar__link {
  display: block;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  top: 30%;
}
.navbar .navbar__link:hover {
  text-decoration: none;
  color: #d9d7d7;
}
.navbar .active {
  color: #d9d7d7;
}

.dropdown {
  display: block;
  position: relative;
  top: 30%;
}
.dropdown #dropdownMenuButton {
  outline: none;
  border: none;
  box-shadow: none;
}
.dropdown #dropdownMenuButton:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.dropdown #dropdownMenuButton:focusout {
  outline: none;
  border: none;
  box-shadow: none;
}
.dropdown .dropdown-toggle {
  color: #000000;
  padding-top: 0;
}
.dropdown .dropdown-menu {
  background: none;
  padding: 0;
  margin-top: 0;
  border: 0;
  min-width: 60px;
}
.dropdown .dropdown-item {
  padding-left: 14px;
  padding-top: 0;
  padding-bottom: 8px;
}
.dropdown .dropdown-item:hover {
  background: none;
  outline: none;
  transform: none;
}

#space {
  display: none;
}

@media only screen and (max-width: 767px) {
  .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  }
  .navbar .navbar__col {
    height: 120px;
  }
  .navbar .navbar__col:first-of-type {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    height: 190px;
  }
  .navbar .navbar__logo {
    margin-top: 5vw;
  }
  .navbar .navbar__link {
    margin-bottom: 4vw;
    font-size: 18px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  #cadastro, #login {
    display: none;
  }

  #mobile {
    display: block;
  }

  #space {
    display: block;
  }
}
nav {
  display: block;
  position: relative;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

input[type=checkbox] {
  opacity: 0;
  visibility: hidden;
}
input[type=checkbox]:checked + .label {
  border: 4px solid silver;
  border-radius: 50%;
  height: 28px;
  top: 16px;
  left: 18px;
  width: 28px;
  transform: rotate(-135deg);
}
input[type=checkbox]:checked + .label::before {
  background: silver;
  top: 8px;
  left: 4px;
  width: 12px;
}
input[type=checkbox]:checked + .label::after {
  background: silver;
  opacity: 1;
  top: 8px;
  left: 4px;
  visibility: visible;
  width: 12px;
}
input[type=checkbox]:checked + .label:hover {
  border-color: #000000;
}
input[type=checkbox]:checked + .label:hover::before, input[type=checkbox]:checked + .label:hover::after {
  background: #000000;
}
input[type=checkbox]:checked ~ .nav-links::before {
  opacity: 1;
  visibility: visible;
}
input[type=checkbox]:checked ~ .nav-links li {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.label {
  background: none transparent;
  border: 4px solid #000000;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  cursor: pointer;
  display: block;
  height: 24px;
  position: absolute;
  top: 18px;
  left: 20px;
  width: 24px;
  transition: all 0.2s;
}
.label::before {
  background: #000000;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
  transition: all 0.2s;
}
.label::after {
  background: #000000;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  top: 6px;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: rotate(90deg);
  transition: all 0.2s;
}

.mobile__menu {
  display: none;
  position: absolute;
  background-color: #d9d7d7;
  width: 40vw;
  top: 40vh;
  left: 30vw;
  z-index: 1000;
}
.mobile__menu .mobile__menu__link {
  display: block;
  padding: 10px;
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.mobile__menu .mobile__menu__link:hover {
  text-decoration: none;
}

body {
  font-family: "work-sans", sans-serif;
  background-color: #000000;
  background-image: url("/images/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.menu {
  padding: 20px;
  padding-top: 0;
  margin-bottom: 8vh;
}
.menu .menu__title {
  display: block;
  font-size: 30px;
  color: #f2780b;
  font-weight: 600;
  text-align: center;
  margin-bottom: 5vh;
}
.menu .menu__label {
  display: block;
  font-size: 14px;
  color: #d9d7d7;
  text-align: center;
}
.menu .menu__input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vh;
  font-size: 12px;
  text-align: center;
  width: 50%;
  clip-path: polygon(9% 1%, 100% 0, 91% 99%, 0% 100%);
}
.menu .menu__input:focus {
  outline: none;
}
.menu .menu__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  margin-bottom: 2vh;
  color: #000000;
  background: #f2780b;
  border: none;
  clip-path: polygon(9% 1%, 100% 0, 91% 99%, 0% 100%);
  padding: 10px;
  width: 50%;
}
.menu .menu__button:hover {
  background-color: #d9d7d7;
}

/*# sourceMappingURL=login.css.map */
