$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?cc867a573620ffa0d7c0bf158b69c8ad") format("truetype"),
url("./flaticon.woff?cc867a573620ffa0d7c0bf158b69c8ad") format("woff"),
url("./flaticon.woff2?cc867a573620ffa0d7c0bf158b69c8ad") format("woff2"),
url("./flaticon.eot?cc867a573620ffa0d7c0bf158b69c8ad#iefix") format("embedded-opentype"),
url("./flaticon.svg?cc867a573620ffa0d7c0bf158b69c8ad#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "play-button": "\f101",
    "discuss": "\f102",
    "people": "\f103",
    "eye": "\f104",
    "info": "\f105",
    "method": "\f106",
);

.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
.flaticon-discuss:before {
    content: map-get($flaticon-map, "discuss");
}
.flaticon-people:before {
    content: map-get($flaticon-map, "people");
}
.flaticon-eye:before {
    content: map-get($flaticon-map, "eye");
}
.flaticon-info:before {
    content: map-get($flaticon-map, "info");
}
.flaticon-method:before {
    content: map-get($flaticon-map, "method");
}
