$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?d0d413073cf7149c47d2b46487b2db02") format("truetype"),
url("./flaticon.woff?d0d413073cf7149c47d2b46487b2db02") format("woff"),
url("./flaticon.woff2?d0d413073cf7149c47d2b46487b2db02") format("woff2"),
url("./flaticon.eot?d0d413073cf7149c47d2b46487b2db02#iefix") format("embedded-opentype"),
url("./flaticon.svg?d0d413073cf7149c47d2b46487b2db02#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "play-button": "\f101",
    "discuss": "\f102",
    "people": "\f103",
    "eye": "\f104",
    "info": "\f105",
    "method": "\f106",
    "ethics": "\f107",
    "edit": "\f108",
    "trash": "\f109",
    "diskette": "\f10a",
);

.flaticon-play-button:before {
    content: map-get($flaticon-map, "play-button");
}
.flaticon-discuss:before {
    content: map-get($flaticon-map, "discuss");
}
.flaticon-people:before {
    content: map-get($flaticon-map, "people");
}
.flaticon-eye:before {
    content: map-get($flaticon-map, "eye");
}
.flaticon-info:before {
    content: map-get($flaticon-map, "info");
}
.flaticon-method:before {
    content: map-get($flaticon-map, "method");
}
.flaticon-ethics:before {
    content: map-get($flaticon-map, "ethics");
}
.flaticon-edit:before {
    content: map-get($flaticon-map, "edit");
}
.flaticon-trash:before {
    content: map-get($flaticon-map, "trash");
}
.flaticon-diskette:before {
    content: map-get($flaticon-map, "diskette");
}
