@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?0985267469e07290feab8810c1d6c510") format("truetype"),
url("./flaticon.woff?0985267469e07290feab8810c1d6c510") format("woff"),
url("./flaticon.woff2?0985267469e07290feab8810c1d6c510") format("woff2"),
url("./flaticon.eot?0985267469e07290feab8810c1d6c510#iefix") format("embedded-opentype"),
url("./flaticon.svg?0985267469e07290feab8810c1d6c510#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play-button:before {
    content: "\f101";
}
.flaticon-discuss:before {
    content: "\f102";
}
.flaticon-people:before {
    content: "\f103";
}
.flaticon-eye:before {
    content: "\f104";
}
.flaticon-info:before {
    content: "\f105";
}
.flaticon-method:before {
    content: "\f106";
}
.flaticon-ethics:before {
    content: "\f107";
}
.flaticon-edit:before {
    content: "\f108";
}
.flaticon-trash:before {
    content: "\f109";
}
